__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
.env

.ipynb_checkpoints/

.vscode/
.idea/
.DS_Store

rag_query_log.jsonl
*.jsonl

references.json
chunks_metadata.json
index_meta.json

data/processed/faiss_index/
*.faiss
*.pkl

*.log
*.key
.env.local
